html,body {
    margin: 0;
    margin-top: 0;
    /* background-color: rgb(182, 112, 248); */
    background-image: linear-gradient(90deg, rgb(140, 47, 228), white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.box{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
}

.box, h1 {
    margin-left: 15px;
}

.newDiv {
height: fit-content;
width: fit-content;
padding: 3px;
border-bottom: 1px solid gray;
background-color: rgb(214, 138, 22);
display: flex;
flex-direction: column;
justify-content:center ;
align-items: center;
border-radius: 15px;
}

.details, .fullDetails{
height: fit-content;
width: fit-content;
padding: 3px;
background-color: rgb(4, 61, 30);
border-radius: inherit;
color: white;
}

.details:hover, .fullDetails:hover {
background-color: white;
color: rgb(4, 61, 30);
cursor:context-menu;

}

.img{
width: 70%;
height: 50px;
align-self: center;
margin: 4px;
}

.hide{
display: none;
}

a{
    text-decoration-line: none;
}